@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

* {
  font-family: "Ubuntu Mono", monospace;
  color: white;
  font-size: 35px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  width: 90%;
  align-items: center;
  background-color: chocolate;
}
